/* FireChart.css */

.fire-chart {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  }
  
  .tableauPlaceholder {
    width: 100vw;
  height: 100vh;
  position: relative;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
  }
  
  .approve-button,
  .disapprove-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .approve-button {
    background-color: #4caf50; /* Green for Approve */
    transition: background-color 0.3s;
  }
  
  .approve-button:hover {
    background-color: #45a049;
  }
  
  .disapprove-button {
    background-color: #f44336; /* Red for Disapprove */
    transition: background-color 0.3s;
  }
  
  .disapprove-button:hover {
    background-color: #d32f2f;
  }