
  /* Container for Contact Page */
  .contact-container {
    place-items: center; /* Center horizontally and vertically */
    height: 100vh; /* Full viewport height */
    background-color: #f5f8fa;
    margin: 0 auto; /* Center horizontally in case of width limits */
    box-sizing: border-box;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #0b0b0b;
  }
  
  .header .logo img {
    height: 50px;
  }
  
  .header .nav ul {
    display: flex;
    list-style: none;
    
  }
  
  .header .nav ul li {
    padding: 0%;
  }
  
  .header .nav ul li a {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .header .nav ul li a:hover {
    color: #1d44e1;
  }
  /* Header Section */
  .banner {
    text-align:center;
    background: linear-gradient(to right, #4c8bf5, #1e62d0);
    color: #fff;
    padding: 50px 20px;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .contact-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contact-header p {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
  }
  
  /* Contact Form Section */
  .contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-form h2 {
    font-size: 1.5rem;
    color: #2b65e2;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    font-size: 1rem;
    color: #010101;
    margin-top: 12px;
    display: block;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #b0c4de;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .contact-form button {
    background-color: #4c8bf5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #1d44e1;
  }
  
  /* Footer Section */
  
  
  /* Responsive Design for smaller screens */
  @media (max-width: 768px) {
    .contact-container {
      padding: 15px;
    }
  
    .contact-header h1 {
      font-size: 1.6rem;
    }
  
    .contact-info,
    .contact-form {
      max-width: 80%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .bottom{
      text-align: center;
      padding: 10px;
      color: #fff;
      margin-top: 20px; 
max-width: 100%;  }
  
    .social-media-links a {
      font-size: 1.1rem;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 0.95rem;
    }
  }