.container {
    display: flex;
    height: 100vh;
    background-color:#0b60b0;
    font-family: Arial, sans-serif;
  }

.sidebar {
    width: 20%;
    background: linear-gradient(180deg, #3c3c3c, #1c1c1c);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu {
    margin-top: 20px;
    width: 100%;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover, .menu a.active {
    background: #444;
    border-left: 4px solid #f3d250;
}

.dashboard {
    flex: 1;
    background: #0b60b0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: white;
}

.dashboard h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    background: #2e4a66;
    border-radius: 5px;
    padding: 10px;
    
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

.card i {
    font-size: 30px;
    margin-bottom: 10px;
}
