
.header .nav ul {
    display: flex;
    list-style: none;
  }
  
  .header .nav ul li {
    margin-left: 20px;
  }
  
  .header .nav ul li a {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 25px; /* Increased font size */
  font-weight: bold;
  }
  
  .header .nav ul li a:hover {
    color: #1d44e1;
  }
  .homebanner p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: white;
  }
  
.li{
    text-align: center;
}

 /* Make sure the icon is displayed as a block element */
    


.customer{
  padding: auto;
}

.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon .user-icon {
  width: 60px;
  height: 40px;
  border-radius: 50%;
}